img {
    max-height: 30vh;
    max-width: 30vw;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vhvh;
    width: 100vw;
    font: normal 500 14pt helvetica, sans-serif;
    background-color: #0288D1;
    color: white;
}

html {
    height: 100vh;
    width: 100vh;
}

button {
    background-color: #536DFE;
    color: #212121;
}